<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mainMapper">


	<resultMap type="StudyDTO" id="studyMap">
		<id column="study_code" property="studyCode" />
		<result column="id" property="id" />
		<result column="CATEGORY_CODE" property="category" />
		<result column="CITY_CODE" property="cityCode" />
		<result column="NAME" property="name" />
		<result column="WRITE_DATE" property="writeDate" />
		<result column="START_DATE" property="startDate" />
		<result column="END_DATE" property="endDate" />
		<result column="START_TIME" property="startTime" />
		<result column="END_TIME" property="endTime" />
		<result column="PEOPLE" property="people" />
		<result column="AREA" property="area" />
		<result column="DESCRIPTION" property="description" />
		<result column="READ" property="read" />
		<result column="STUDY_STATUS" property="studyStatus" />
		
	</resultMap>
	
	<resultMap type="commCodeDTO" id="commMap">
		<id column="comm_code" property="commCode"/>
		<result column="code_name" property="codeName"/>
		<result column="code_desc" property="codeDesc"/>
		<result column="parent_code" property="parentCode"/>
	</resultMap>

	<!-- 스터디 등록 -->
	<insert id="enrollStudy" parameterType="StudyDTO">
		insert into study
		values(study_seq.nextval,#{id},'0001',
		#{detailArea},#{name},sysdate, #{startDate},
		#{endDate}, #{day},#{startTime},#{endTime},
		#{people},#{area},#{description},1,
		'0043',#{addr1})
	</insert>

	<!-- 스터디 상세보기 -->
	<select id="studyDetailView" parameterType="StudyDTO">
		select studyCode, category, cityCode, name, writeDate, startDate,
		endDate, startTime, endTime, people, area, description, read, studyStatus
		from study where studyCode=#{value}
	</select>
	
	<!-- 스터디 조회수 업데이트  -->
	<update id="readNumUpdate" parameterType="string">
		update study set read=read+1 where studyCode =#{value}	
	</update>
	
	<!-- 읽지 않은 메시지 개수 가져오기 -->
	<select id="messageCount" parameterType="string" resultType="string">
		select COUNT(id) from recv_message where id=#{_parameter} and confirm='0051'
	</select>
	
	<!-- 지역 상세 코드 가져오기 -->
	<select id="selectAreaCode" parameterType="string" resultMap="commMap">
		select comm_code,code_name from comm_code where parent_code=#{_parameter}
	</select>
	
	<select id="selectRecentStudy" resultMap="studyMap">
		select study_code, name from study order by write_date
	</select>
	
	
	<!-- 스터디 검색 -->
	<select id="selectSearchStudy" parameterType="StudyDTO" resultMap="studyMap">
		select study_code, id, category_code, city_code, name, write_date, to_char(start_date, 'YYYY-MM-DD') start_date,
		to_char(end_date, 'YYYY-MM-DD') end_date, day, start_time, end_time, people, area, description, read, study_status
		from study 
		where name like '%'||#{name}||'%'
		and study_status='0043'
	</select>

</mapper>