<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypageMapper">

<sql id="studyColum">
study.STUDY_CODE, study.ID, CATEGORY_CODE, CITY_CODE, NAME, WRITE_DATE,
to_char(start_date,'YYYY-MM-DD') as start_date, to_char(end_date,'YYYY-MM-DD') as end_date, DAY, START_TIME, END_TIME, PEOPLE, AREA, DESCRIPTION, STUDY_STATUS,
member.id as memberId, JOIN_STATUS, addr, addr2
</sql>

<resultMap type="studyDTO" id="studyDTOJoinMap">
	<id column="STUDY_CODE" property="studyCode"/>
	<result column="ID" property="id"/><result column="CATEGORY_CODE" property="category"/>
	<result column="CITY_CODE" property="cityCode"/><result column="NAME" property="name"/>
	<result column="WRITE_DATE" property="writeDate"/><result column="START_DATE" property="startDate"/>
	<result column="END_DATE" property="endDate"/><result column="DAY" property="day"/>
	<result column="START_TIME" property="startTime"/><result column="END_TIME" property="endTime"/>
	<result column="PEOPLE" property="people"/><result column="AREA" property="area"/>
	<result column="DESCRIPTION" property="description"/><result column="STUDY_STATUS" property="studyStatus"/>
	<result column="addr" property="addr1"/><result column="addr2" property="addr2"/>
	<association property="memberDTO" javaType="memberDTO">
		<id column="MEMBER_CODE" property="memberCode"/>
		<result column="STUDY_CODE" property="studyCode"/>
		<result column="memberId" property="memberId"/>
		<result column="JOIN_STATUS" property="joinStatus"/>
		<result column="GRADE" property="grade"/>
	</association>
	<association property="commDTO" javaType="commCodeDTO">
		<id column="COMM_CODE" property="commCode"/>
		<result column="CODE_NAME" property="codeName"/>
	</association>
</resultMap>

<resultMap type="studyDTO" id="studyDTOMap">
	<id column="STUDY_CODE" property="studyCode"/>
	<result column="ID" property="id"/><result column="CATEGORY_CODE" property="category"/>
	<result column="CITY_CODE" property="cityCode"/><result column="NAME" property="name"/>
	<result column="WRITE_DATE" property="writeDate"/><result column="START_DATE" property="startDate"/>
	<result column="END_DATE" property="endDate"/><result column="DAY" property="day"/>
	<result column="START_TIME" property="startTime"/><result column="END_TIME" property="endTime"/>
	<result column="PEOPLE" property="people"/><result column="AREA" property="area"/>
	<result column="DESCRIPTION" property="description"/><result column="STUDY_STATUS" property="studyStatus"/>
	<result column="addr" property="addr1"/><result column="addr2" property="addr2"/>
</resultMap>


<resultMap type="sendMessageDTO" id="sendMessageDTO">
	<id column="SEND_MESSAGE_CODE" property="sendMessageCode"/>
	<result column="ID"  property="id"/>
	<result column="TITLE"  property="title"/>
	<result column="CONTENT"  property="content"/>
	<result column="RECV_ID"  property="recvId"/>
	<result column="WRITE_DATE"  property="writeDate"/>
</resultMap>

<resultMap type="recvMessageDTO" id="recvMessageDTO">
	<id column="RECV_MESSAGE_CODE" property="recvMessageCode"/>
	<result column="ID" property="id"/>
	<result column="TITLE" property="title"/>
	<result column="CONTENT" property="content"/>
	<result column="SEND_ID" property="sendId"/>
	<result column="WRITE_DATE" property="writeDate"/>
	<result column="CONFIRM" property="confirm"/>
	<result column="STUDY_CODE" property="studyCode"/>
	<result column="JOIN_STATUS" property="joinStatus"/>
	<association property="commCodeDTO" javaType="commCodeDTO">
		<id column="COMM_CODE" property="commCode"/>
		<result column="CODE_NAME" property="codeName"/>
	</association>
</resultMap>

<select id="studyRequestList" parameterType="string" resultMap="studyDTOJoinMap">
select
<include refid="studyColum"/>, CODE_NAME
from STUDY, member, comm_code 
where study.STUDY_CODE = member.STUDY_CODE 
and member.JOIN_STATUS= comm_code.COMM_CODE
and STUDY_STATUS='0043'
and member.id=#{_parameter}
</select>

<update id="studyRequsetDateUpdate" parameterType="int">
	update study set  STUDY_STATUS='0044'
	where STUDY_CODE=${_parameter}
</update>

<select id="ongoingStudyList" parameterType="string" resultMap="studyDTOJoinMap">
select
<include refid="studyColum"/>
from study, member 
where study.STUDY_CODE = member.STUDY_CODE
and study.STUDY_STATUS='0044' and (study.id=#{_parameter} or member.id=#{_parameter})
</select>

<select id="recruitStudyList" parameterType="string" resultMap="studyDTOMap">
select STUDY_CODE, ID, CATEGORY_CODE, CITY_CODE, NAME, WRITE_DATE,
to_char(start_date,'YYYY-MM-DD') as start_date, to_char(end_date,'YYYY-MM-DD') as end_date, DAY, START_TIME, END_TIME, PEOPLE, AREA, DESCRIPTION, STUDY_STATUS, addr, addr2
from study 
where STUDY_STATUS='0043' and id=#{_parameter}
</select>

<insert id="sendMessageInsert" parameterType="sendMessageDTO">
	insert into send_message values(SEND_MESSAGE_SEQ.nextval,#{id}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{recvId}, sysdate, null, null)
</insert>

<insert id="recvMessageInsert" parameterType="sendMessageDTO">
	insert into recv_message values(RECV_MESSAGE_SEQ.nextval,#{recvId}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{id}, sysdate,'0051', null, '0001')
</insert>

<select id="recvMail" parameterType="string" resultMap="recvMessageDTO">
select RECV_MESSAGE_CODE, ID, title, content, SEND_ID, write_date, CONFIRM, study_Code, join_status
from RECV_MESSAGE
where ID=#{_parameter}
order by RECV_MESSAGE_CODE desc
</select>

<select id="sendMail" parameterType="string" resultMap="sendMessageDTO">
select SEND_MESSAGE_CODE, ID, title, content, RECV_ID, write_date
from SEND_MESSAGE 
where ID=#{_parameter}
order by SEND_MESSAGE_CODE desc
</select>

<select id="readMail" parameterType="int" resultMap="recvMessageDTO">
	select RECV_MESSAGE_CODE, ID, title, content, SEND_ID, write_date, CONFIRM
	from RECV_MESSAGE where RECV_MESSAGE_CODE=${_parameter}
</select>

<select id="sendReadMail" parameterType="int" resultMap="sendMessageDTO">
	select SEND_MESSAGE_CODE, ID, title, content, RECV_ID, write_date
	from SEND_MESSAGE where SEND_MESSAGE_CODE=${_parameter}
</select>

<update id="readMessageUpdate" parameterType="int">
	update RECV_MESSAGE set  CONFIRM='0050'
	where RECV_MESSAGE_CODE=${_parameter}
</update>

<delete id="deleteMessage" parameterType="int">
	delete from RECV_MESSAGE where RECV_MESSAGE_CODE=${_parameter}
</delete>

<delete id="deleteSendMessage" parameterType="int">
	delete from SEND_MESSAGE where SEND_MESSAGE_CODE=${_parameter}
</delete>

<select id="searchSendMail" parameterType="map" resultMap="sendMessageDTO">
	select SEND_MESSAGE_CODE, ID, title, content, RECV_ID, write_date
	from SEND_MESSAGE 
	where ID=#{id} and title||content||id like '%'||#{word}||'%'
	order by SEND_MESSAGE_CODE desc
</select>

<select id="searchRecvMail" parameterType="map" resultMap="recvMessageDTO">
	select RECV_MESSAGE_CODE, ID, title, content, SEND_ID, write_date, CONFIRM
	from RECV_MESSAGE 
	where ID=#{id} and title||content||id like '%'||#{word}||'%'
	order by RECV_MESSAGE_CODE desc
</select>

<insert id="inviteAgree" parameterType="map">
	insert into member values(MEMBER_SEQ.nextval, #{studyCode}, #{id},'0004', '0147')
</insert>

<update id="inviteRecvUpdate" parameterType="map">
	update RECV_MESSAGE set join_status='0004' where STUDY_CODE=#{studyCode} and id=#{id}
</update>

<insert id="inviteRejection" parameterType="map">
	insert into send_message values(SEND_MESSAGE_SEQ.nextval,#{id}, #{title}, #{content}, #{sendId}, sysdate, null, null)
</insert>

<insert id="inviteRecvRejection" parameterType="map">
	insert into recv_message values(RECV_MESSAGE_SEQ.nextval,#{sendId}, #{title}, #{content}, #{id}, sysdate,'0051',null, '0001')
</insert>

<update id="inviteRecvRejectionUpdate" parameterType="map">
	update RECV_MESSAGE set join_status='0003' where STUDY_CODE=#{studyCode} and id=#{id}
</update>

</mapper>